* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-bg: linear-gradient(135deg, #1e0533, #110a1f);
  --primary-bg-light: #f2f2f2;
  --accent-color: #8a2be2;
  --text-color: #ffffff;
  --text-color-light: black;
  --text-secondary: #b3b3b3;
  --gradient-1: linear-gradient(45deg, #726bff, #57b6fe);
  --gradient-2: linear-gradient(45deg, #8a2be2, #4b0082);
}
.body {
  position: relative;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background: var(--primary-bg);
  color: var(--text-color);
  overflow-x: hidden;
  z-index: 0;
}
.body-light {
  background: var(--primary-bg-light);
  color: var(--text-color-light)
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.container-light {
}
#three-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
